<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--     <link rel="stylesheet" href="contatos.css">
 -->    <title>Contatos</title>
</head>
<body style ="background-color: rgb(252, 200, 157);">
    <div style ="background-color:rgb(246, 152, 75) ; text-align: center; border-radius: 3px; border-color: black;">
        <h1>
            Já entrou em contato conosco? Ta esperando o que!
        </h1> 
        <div style ="background-color: rgb(245, 169, 107); text-align: center; border-radius: 3px; border-color: black;">
            <h3>
                E-mail:
            </h3> 
                duartecostap@gmail.com
            <h3>
                Telefone:
            </h3> 
                (11) 9876-5493
        </div>
    </div>
</body>
</html>